
.header{
  /* border: 2px solid red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 1.5rem;
  border-block-end: 1px solid var(--gray10);
  position: sticky;
  inset-block-start: 0;
  background: var(--white);
  z-index: 2;
}

.header-logo{
  display: flex;
  align-items: center;
  gap: .5rem;
  vertical-align: middle;
}

.header-primary{
  display: flex;
  align-items: center;
  gap: 2rem;

}

.header-secondary{
  display: flex;
  align-items: center;
  gap: 3rem;

}

.header-avatar{
  border-radius: 50%;
  vertical-align: middle;
}
