.page{
  display: grid;
  grid-template-columns: 15.25rem 1fr;
  grid-template-rows: 6rem 1fr ;
  block-size: 100vh;
  grid-template-areas: "header header" "sidebar calendar";
  position: relative;
}

.page .header{
  /* border: 5px solid red; */
  grid-area: header;

}

.page .sidebar{
  /* border: 5px solid blue; */
  grid-area: sidebar;


}

.page .calendar{
  /* border: 5px solid green; */
  grid-area: calendar;


}