.sidebar-task{
  /* border: 1px solid green; */
  inline-size: var(--maxInlineSidebar);
}

.sidebar-task details summary{
  list-style: none;
  font: var(--body1-medium);
  color: var(--gray30);
  padding-block: .125rem;
  padding-inline-start: .25rem ;
  margin-block-end: .5rem;
  background-image: url('../icons/Icon=chevron-down.svg');
  background-repeat: no-repeat;
  background-position: right .5rem center;
  cursor: pointer;

}

.sidebar-task ul{
  padding: 0;
  padding-inline-start: .25rem ;
  margin: 0;

}

.sidebar-task ul li {
  list-style: none;
  color: var(--gray30);
  margin-block-end: .75rem;
  padding-inline-end: 3.25rem;
}

.button.is-check{
  padding: 0;
  background: var(--white);
}