.taskCellDay{
  border-inline-start: 1px solid currentColor;
  border-block-end: 1px solid currentColor;
  padding-block: .25rem;


}

.taskCellDay:nth-of-type(1){
  border-block-start: 1px solid currentColor;
}

.taskCellDay.is-active::before{
  content: '(Sin Titulo)';
  font-size: small;
  background: #C6DAFC;
  padding: .25rem;
  display: block;
  border-radius: .25rem;
  box-shadow: 0 0 10px rgb(0,0,0,.3);
}
